body {
  background:black;
  color:white;
}
code {
  color: red;
}
b {
  text-decoration: underline;
}
a {  
  color:lightblue;
}
a:hover {
  color:lightblue;
}
a:visited {
  color:lightblue;;
}
footer {
  margin-top: 10vh;
}
